<div class="row">
    <div class="col-sm" *ngFor="let option of options; let i = index">
            &nbsp;<button type="button" (click)="update(option)" class="btn btn-lg btn-block {{option.class}}">{{option.name}}</button>
    </div>
  </div>
  <div class="row text-centers">
        <h1 class="text-dark animated slideOutDown delay-2s" *ngIf="animate && text">++ {{text}} ++</h1>
        <h1 class="text-dark animated slideOutRight delay-2s" *ngIf="!animate && text">++ {{text}} ++</h1> 
  </div>

